body,html{
    height: 100%;
    margin: 0 auto;
}
.link{
    text-decoration: none;
    color: #f0eeee;
    padding: 10px 15px;
    font-family: "Bebas Neue";
    font-size: 30px;
    
}
.link:hover{
    background-color: #e8e8e8;
    color :#4c4c4c;
}
.home{
    width: 100%;
    height: 100%;
    background-image: url('../img/backgroud.jpg');
    background-size: cover;
    text-align: center;
    padding: 60px 0px;
}
/*heading*/
.heading-1{
    font-size: :60px;
    color: #f0eeee;
    margin: auto;
    font-family: "Bebas Neue";

}

.heading-2{
    font-size: 100px;
    color: #f0eeee;
    margin: auto;
    font-family: "Bebas Neue";

}

.heading-3{
    font-size: 25px;
    color: #f0eeee;
    margin: auto;
    font-family: "Syne";


}
/**Section Content**/
.content{
    width: 100%;
    min-height: 400px;
    background-color:#838383;
    padding: 240px 0px; 
}

/**content 2**/
.content2{
    background: #4c4c4c;
    width: 100%;
    min-height :100%;
    padding: 100px 0px;
}
.col-border{
    min-height: 100px;
    border: solid 1px #f0eeee;
    text-align: center;
    padding: 10px 0px;
}
/**content 3**/
.content3{
    background: #838383;
    width: 100%;
    min-height :100%;
    padding: 100px 0px;
}
.col-border{
    min-height: 100px;
    border: solid 1px #f0eeee;
    text-align: center;
    padding: 10px 0px;
}
