body,html{
    height: 100%;
    margin: 0 auto;
}
.link{
    text-decoration: none;
    color: #393b44;
    padding: 10px 15px;
    font-family: lemon milk;
}
.link:hover{
    background-color: #e8e8e8;
    color :#4c4c4c;
}
.home{
    width: 100%;
    height: 100%;
    background-color: #f5f1da;
    background-size: cover;
    text-align: center;
    padding: 60px 0px;
}
/*heading*/
.heading-1{
    font-family: lemon milk;
    font-size: :60px;
    color: #f0eeee;
    margin: auto;
}
.heading-2{
    font-family: lemon milk;
    font-size: :40px;
    color: #f0eeee;
    margin: auto;

}
.heading-3{
    font-family: nexa light;
    font-size: :15px;
    color: #f0eeee;
    margin: auto;

}
/**Section Content**/
.content{
    width: 100%;
    min-height: 400px;
    background-color:#ffd57e;
    padding: 240px 0px; 
}
.content1{
    width: 100%;
    min-height: 400px;
    background-color:#fca652;
    padding: 240px 0px; 
}
/**content 2**/
.content2{
    background: #ffd571;
    width: 100%;
    min-height :100%;
    padding: 100px 0px;
}
.col-border{
    min-height: 100px;
    border: solid 1px #393b44;
    text-align: center;
    padding: 20px 0px;
}

